@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-tiny: 0.625rem;
  --text-huge: 20vw;

  --color-blue: #3395ff;
  --color-black: #141819;
  --color-white: #f5f5f5;

  --flex-1: 1;
  --flex-4: 4;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    /* Default (Light Mode) */
    --background: var(--color-white);
    --foreground: var(--color-black);
  }

  /* When the .dark class is present */
  .dark {
    --background: var(--color-black);
    --foreground: var(--color-white);
  }

  /* Sync with system preferences automatically if no class is present */
  @media (prefers-color-scheme: dark) {
    :root:not(.light) {
      --background: var(--color-black);
      --foreground: var(--color-white);
    }
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transition */
}

:root {
  font-family: Poppins, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* This tells the browser the site supports both modes */
  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: -10px;  */
  width: auto;
}
.my-masonry-grid_column {
  /* padding-left: 10px; */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: none;
  box-shadow: none;
  border: none;

  flex-grow: unset;
  width: auto;
  /* margin-bottom: 10px; */
}

.exp-description {
  display: grid;
  /* grid-template-columns: 0fr; */
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.exp-description[aria-hidden="false"] {
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr;
}

.exp-description > div {
  overflow: hidden;
}

/* .exp-description {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.exp-description[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.exp-description > div {
  overflow: hidden;
} */

/* .example-card > div {
  overflow: hidden;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
