@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-*: initial;
  --text-tiny: 0.625rem;
  --text-huge: 20vw;

  --color-highlight-blue: #3395ff;
  --color-background-light: #fcfcfc;
  --color-foreground-light: #111113;
  --color-background-dark: #111113;
  --color-foreground-dark: #fcfcfc;

  --flex-1: 1;
  --flex-4: 4;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-background-light text-foreground-light;
}

body.dark {
  @apply bg-background-dark text-foreground-dark;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: -10px;  */
  width: auto;
}
.my-masonry-grid_column {
  /* padding-left: 10px; */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: none;
  box-shadow: none;
  border: none;

  flex-grow: unset;
  width: auto;
  /* margin-bottom: 10px; */
}

.exp-description {
  display: grid;
  /* grid-template-columns: 0fr; */
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.exp-description[aria-hidden="false"] {
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr;
}

.exp-description > div {
  overflow: hidden;
}

/* .exp-description {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.exp-description[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.exp-description > div {
  overflow: hidden;
} */

/* .example-card > div {
  overflow: hidden;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
